
fieldset {
  background-color:whitesmoke;
  width: 50%;
  border-color: blue;
  border-radius: 1%;
  
}

legend {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 50;
  border-color: aqua;
}

input {
  margin: 5px;
}

th[colspan="2"] {
  color: #ff5733;
}

input[type="submit"]{
    background-color: skyblue;
    color: white;
    size: 50%;
    margin: 10px;
}
input[type="reset"]{
    background-color: grey;
    color: white;
}